In [182]:
import pandas as pd

In [183]:
df = pd.read_csv('joined_twitter_data.csv')

In [184]:
df.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,0.097049,False,bagel,0.085851,False,banana,0.076110,False,8853,39467
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,6514,33819

In [185]:
df.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',
       'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf',
       'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'retweet_count', 'favorite_count'],
      dtype='object')

In [186]:
df.rename(
    columns={'p1': 'breed', 'p1_dog': 'is_dog', 'p1_conf': 'dog_confidence'},
    inplace=True,)

In [187]:
df.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,dog_confidence,is_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,0.097049,False,bagel,0.085851,False,banana,0.07611,False,8853,39467

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2073 entries, 0 to 2072
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2073 non-null   int64
 1   in_reply_to_status_id       23 non-null     float64
 2   in_reply_to_user_id         23 non-null     float64
 3   timestamp                   2073 non-null   object
 4   source                      2073 non-null   object
 5   text                        2073 non-null   object
 6   retweeted_status_id         79 non-null     float64
 7   retweeted_status_user_id    79 non-null     float64
 8   retweeted_status_timestamp  79 non-null     object
 9   expanded_urls               2073 non-null   object
 10  rating_numerator            2073 non-null   int64
 11  rating_denominator          2073 non-null   int64
 12  name                        2073 non-null   object
 13  doggo                       2073 non-null   object
 14  floofer                     2073 non-null   object
 15  pupper                      2073 non-null   object
 16  puppo                       2073 non-null   object
 17  jpg_url                     2073 non-null   object
 18  img_num                     2073 non-null   int64
 19  breed                       2073 non-null   object
 20  dog_confidence              2073 non-null   float64
 21  is_dog                      2073 non-null   bool
 22  p2                          2073 non-null   object
 23  p2_conf                     2073 non-null   float64
 24  p2_dog                      2073 non-null   bool
 25  p3                          2073 non-null   object
 26  p3_conf                     2073 non-null   float64
 27  p3_dog                      2073 non-null   bool
 28  retweet_count               2073 non-null   int64
 29  favorite_count              2073 non-null   int64
dtypes: bool(3), float64(7), int64(6), object(14)
memory usage: 330.0+ KB

In [190]:
df = df[['timestamp', 'breed', 'is_dog', 'dog_confidence', 'favorite_count']]

In [201]:
df.head()

,timestamp,breed,is_dog,dog_confidence,favorite_count,popular,famous
0,2017-08-01 16:23:56 +0000,orange,False,0.097049,39467,True,10533
1,2017-08-01 00:17:27 +0000,Chihuahua,True,0.323581,33819,True,16181
2,2017-07-31 00:18:03 +0000,Chihuahua,True,0.716012,25461,False,24539
3,2017-07-30 15:58:51 +0000,paper_towel,False,0.170278,42908,True,7092
4,2017-07-29 16:00:24 +0000,basset,True,0.555712,41048,True,8952

In [204]:
df.isnull().sum()

timestamp         0
breed             0
is_dog            0
dog_confidence    0
favorite_count    0
popular           0
famous            0
dtype: int64

In [205]:
df['popular']=  df['favorite_count'] > 30000

In [206]:
df.head()

,timestamp,breed,is_dog,dog_confidence,favorite_count,popular,famous
0,2017-08-01 16:23:56 +0000,orange,False,0.097049,39467,True,10533
1,2017-08-01 00:17:27 +0000,Chihuahua,True,0.323581,33819,True,16181
2,2017-07-31 00:18:03 +0000,Chihuahua,True,0.716012,25461,False,24539
3,2017-07-30 15:58:51 +0000,paper_towel,False,0.170278,42908,True,7092
4,2017-07-29 16:00:24 +0000,basset,True,0.555712,41048,True,8952

In [207]:
df['famous']= 50000 - df['favorite_count']

In [208]:
df.head()

,timestamp,breed,is_dog,dog_confidence,favorite_count,popular,famous
0,2017-08-01 16:23:56 +0000,orange,False,0.097049,39467,True,10533
1,2017-08-01 00:17:27 +0000,Chihuahua,True,0.323581,33819,True,16181
2,2017-07-31 00:18:03 +0000,Chihuahua,True,0.716012,25461,False,24539
3,2017-07-30 15:58:51 +0000,paper_towel,False,0.170278,42908,True,7092
4,2017-07-29 16:00:24 +0000,basset,True,0.555712,41048,True,8952

In [209]:
df.groupby('breed')['dog_confidence'].agg(['mean', 'min', 'max'])

                         mean       min       max
breed
Afghan_hound         0.394129  0.123529  0.903712
African_crocodile    0.330625  0.330625  0.330625
African_grey         0.270468  0.270468  0.270468
African_hunting_dog  0.733025  0.733025  0.733025
Airedale             0.583771  0.168762  0.945362
...                       ...       ...       ...
wombat               0.697833  0.462952  0.880257
wood_rabbit          0.619014  0.368562  0.785756
wooden_spoon         0.082489  0.082489  0.082489
wool                 0.297755  0.070076  0.525434
zebra                0.997673  0.997673  0.997673

[378 rows x 3 columns]